<%- include("partials/header")-%>

    <%console.log(post)%>
<h1>composed</h1>
<form action="/update" method="post">
   <input type="hidden"  name="_id" value="<%=post._id%>">
   <div class="form-group">
    <label for="">Title</label>
    <input type="text" class="form-control" name="title" value="<%= post.title %>">
    <label for="">Content</label>
    <textarea name="data" id=""  class="form-control" cols="20" rows="5"  required  ><%= post.content %></textarea>
    
   </div>
   <button type="submit" class="btn btn-primary">go</button>
    
</form>

<%- include("partials/footer")-%>
